img {
  width: 64px;
  height: 64px;
  margin: 10px;
  border-radius: 50%;
}

.woman {
  float:left;
}

.man {
  clear: both;
}

.circle.no1, .circle.no3, .circle.no6, .circle.no8{
  width : 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #DBDBDB ;
}

.circle.no2, .circle.no4, .circle.no7, .circle.no5{
  width : 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4CFE88 ;
}

