img {
  width: 64px;
  height: 64px;
  margin: 10px;
}

.woman {
  float:left;
}

.man {
  clear: both;
}

/* 
.woman1, .woman2, .woman3, .woman4{
  float: left;
}

.man1, .man2, .man3, .man4 {
  clear:both;
} */